h1 {
  color: Gray;
}

body {
  background-color: #1e90ff;
}

.images {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  border: 2px solid white;
}

h2, a {
  color: white;
}
