h1 {
  color: Black;
}

body {
  background-color: #1e90ff;
}

.images {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  border: 2px solid white;
}

a, li {
  color: white;
}


h2, h3 {
  text-decoration: underline;
  color: GhostWhite;
}
